<!doctype html>
<head>
    
    <link rel="stylesheet" href="/css/diary.css">
    <title>Grades</title>

</head>
<body>

    <form class="form" action="/classDiary" method="get">
        <input class="form__btn" type="submit" value="Go back!">
    </form>

    <form class="form" action="/logout" method="get">
        <input class="form__btn" type="submit" value="Logoutt">
    </form>

    <div class="table-container">
        <table class="table">
            <thead class="table__head">
                <tr class="table__row">
                    <th class="table__heading">Lp</th>
                    <th class="table__heading">student_id</th>
                    <th class="table__heading">subject_id</th>
                    <th class="table__heading">grade</th>
                    <th class="table__heading">timestamp</th>
                    <th class="table__heading">description</th>
                </tr>
            </thead>
            <tbody class="table__body">
                {{#each grades}}
                <tr class="table__row">
                    <td class="table__cell">{{inc @index}}</td>
                    <td class="table__cell">{{student_id}}</td>
                    <td class="table__cell">{{subject_id}}</td>
                    <td class="table__cell">{{grade}}</td>
                    <td class="table__cell">{{timestamp}}</td>
                    <td class="table__cell">{{description}}</td>
                </tr>
                {{/each}}
            </tbody>
    </table>
</div>


<h2>Second tables</h2>
<div class="table-container">
        <table class="table">
            <thead class="table__head">
                <tr class="table__row">
                    <th class="table__heading">Lp</th>
                    <th class="table__heading">Student last name</th>
                    <th class="table__heading">grade</th>
                    <th class="table__heading">sub id</th>
                </tr>
            </thead>
            <tbody class="table__body">
                {{#each gradesFromAll}}
                <tr class="table__row">
                    <td class="table__cell">{{id}}</td>
                    <td class="table__cell">{{student_last_name}}</td>
                    <td class="table__cell">{{grade}}</td>
                    <td class="table__cell">{{subject_id}}</td>
                </tr>
                {{/each}}
            </tbody>
    </table>
</div>



    </body>
</html>
