 <!doctype html>
<head>
    <link rel="stylesheet" href="/css/diary.css">
    <title>Add grades</title>
</head>

<body>
    <div class="forms-container">

        <div class="forms-container__create">
            <form class="forms-container__form" action="/update-grade" method="post">
            <h2>Select student by last name to add grades</h2>
                <select class="forms-container__select" name="student_last_name" id="student_last_name">
                    {{#each AllastName}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            
                <h3>Choose a rating</h3>
                <select class="forms-container__select" name="grade" id="grade" required>
                    <option value="">Grade</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                
                <h3>Choose the name of the subject:</h3>
                <select class="forms-container__select" name="subject" id="subject" required>
                    {{#each teachers}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>  
                <br>

                <button class="forms-container__button forms-container__button--add" type="submit">Add a rating</button>
            </form>
        </div>

</div>


    <div class="table-container">
    <table class="table">
        <thead class="table__head">
            <tr>
                <th class="table__heading">Lp</th>
                <th class="table__heading">Student ID</th>
                <th class="table__heading">Subject</th>
                <th class="table__heading">Last Name</th>
                <th class="table__heading">Grade</th>
                <th class="table__heading">Delete</th>
                
            </tr>
        </thead>
        <tbody class="table__body">
            {{#each grades}}
            <tr class="table__row">
                <td class="table__cell">{{inc @index}}</td>
                <td class="table__cell">{{student_id}}</td>
                <td class="table__cell">{{subject}}</td>
                <td class="table__cell">{{student_last_name}}</td>
                <td class="table__cell">{{grade}}</td>
                 <td class="table__cell">
                    <form class="table__form" action="/update-grade/delete/{{this.id}}" method="POST">
                        <input class="table__button table__button--delete" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

    <form class="form" action="/classDiary" method="get">
        <input class="form__btn" type="submit" value="Go back!">
    </form>

    <form class="form" action="/logout" method="get">
        <input class="form__btn" type="submit" value="Logout">
    </form>

    </body>
</html>
